.photo_wrapper {
    display: flex;
    flex-basis: 18%;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10px 40px;
}
.photo {
   width: 100%;
}

.photo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.3;
}

.photo img:hover {
    border-radius: 0;
    cursor: pointer;
    opacity: 1;
}

.descr {
    color:#000;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 200px;
    text-align: center;
}
.photo_window{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.full_photo {
    margin-top: 20%;
}
