.audio_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.audio_wrap audio {
    margin-top: 15px;
}
._audio {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
}